*.iml
.idea
.DS_Store
screenshots
reference
visual_regression
server/public
/temp
node_modules
build_dev_local.override.sh
cucumber_report.json
parallel_features/
features/split_features/
allure-report
allure-report.zip
allure-results
videos

features/hello_world.feature
